body
{
    padding:0px;
    margin:0px;
    text-align: center;
    
     margin-left:20vw;
     margin-right: 20vw;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
     background-color: #fff;
     margin-top: 25px;


  
   
     
     
    
}

#enter,#reset
{
    margin-bottom:25px;
}
#devicecount
{
    margin-bottom: 4px;
    text-align: center;
}
#ok
{
    padding: 0px;
    margin:0px;
}
#main
{
    padding: 0px;
    margin:0px;
     border: 2px solid rgb(196, 175, 175);
     border-radius: 12px;
     text-align: center;
     box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),     
    0 8px 20px rgba(0, 0, 0, 0.15);   



}
.days
{
    margin:2px;
      width:75px;
    
    text-align: center;
}

.appliance
{
    margin:2px;
    text-align: center;
}
.appliance::placeholder
{
    text-align: center;
    color: #999;

}

.power
{
    width:75px;
    margin: 2px;
    text-align: center;
    
}
#days
{
    margin-bottom: 20px;
    text-align: center;

}

#submit
{
    margin-top:3vh;
}
@media(max-width:775px)
{
       #main
    {
        width:90%;
    }

}

@media(max-width:771px)
{
      body
   {
    text-align: center;
    width:100%;
    padding: 0px;
    margin: 0px;

   }
   
}

@media(max-width:650px)
{

   body,#main
   {
    width:100%;
    padding: 0px;
    margin: 0px;

   }
}
@media(max-width:452px)
{
    #main
    {
        border:2px transparent;
    }
    .appliance
    {
        width:20%;
    }
    
}
#proceed
{
    margin: 0px;
    padding: 0px;
}
#bill,#tax
{
    margin-bottom: 7px;
}
#tax
{
    text-align: center;
}
